<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">


  <xi:include href="vigiboard_history_table.html" />

<py:def function="event_table(events,page,pages,rows_info,edit_event_status_options,history,hist_error,search)">
<?python from genshi import HTML ?>

<py:if test="len(events) > 1">
<table class="vigitable" summary="Events table">
	
	<thead>
		<tr >
			<td style="width:26px;border-right: solid 1px #4682b4">
				<a py:if="page > pages[0]" href="${tg.url('/%d' % (page-1))}"><img src="${tg.url('/images/fleche_up.png')}" alt="Previous" title="Previous page"/></a>
				<img py:if="page == pages[0]" src="${tg.url('/images/fleche_up.png')}" alt="Previous" title="Previous page" />
			</td>
			<td colspan="${8+len(events[1][6])}" style="color: white;background-color: #4682b4" >${_('Showing rows %(id_first_row)d to %(id_last_row)d of %(total_rows)d') % rows_info} <br />
				Pages <py:for each="p in pages">
				<a py:if="p != page" href="${tg.url('/%d' % p)}" py:content="p" />
				<span py:if="p == page" py:replace="p" />
				</py:for>
			</td>
			<td style="width:26px;border-left: solid 1px #4682b4">
				<a py:if="pages[-1] > page" href="${tg.url('/%d' % (page+1))}"><img src="${tg.url('/images/fleche_down.png')}" alt="Next" title="Next page"/></a>
				<img py:if="page == pages[-1]" src="${tg.url('/images/fleche_down.png')}"  alt="Next" title="Next page" />
			</td>
		</tr>

		<tr>
			<py:for each="(pname,pstyle) in events[0]">
			<th style="padding: 5px;" py:attrs="pstyle">${HTML(pname)}</th>
			</py:for>
			<th style="width:26px;padding: 0px;"><a class="Edit_EventsLien" href="javascript:vigiboard_edit_eventdialog('all')"><img src="${tg.url('/images/icon_page_edit.png')}" alt="Edit selected" title="Edit all selected events"/></a></th>
			<th style="padding:0px;"><input title="Select/Unselect all" id="vigiboard_checkall_checkbox" type="checkbox" onclick="javascript:vigiboard_checkall()" /></th>
		</tr>
	</thead>
	
	<tbody>
	
		<py:for each="(event,class_tr,class_td_severity,class_td_date,img_fleche,img_statu,plugin) in events[1:]">
		<tr py:attrs="class_tr">
			<td style="padding: 3px;" py:attrs="class_td_severity"><a href="javascript:vigiboard_historydialog('${event.idevent}')" class="HistoryLien"><img src="${tg.url(img_fleche['src'])}" style="width:20px" alt="Details" title="Event details" /></a></td>
			<td py:attrs="class_td_date"><span style="font-weight: bold;">${event.get_date('timestamp_active')}</span><br />[${event.get_since_date('timestamp_active')}]</td>
			<td py:attrs="class_td_date" style="text-align:center">${event.occurence}</td>
			<td>${event.hostname}</td>
			<td>${event.servicename}</td>
			<td>${event.output}</td>
			<td py:for="plug in plugin" py:attrs="plug[1]">${HTML(plug[0])}</td>
			<td style="text-align: center"><a py:if="event.trouble_ticket is not None" href="${
					tg.config['vigiboard_links.tt'] % {
						'idevent' : event.idevent,
						'host' : event.hostname,
						'service' : event.servicename,
						'tt' : event.trouble_ticket }}">[${event.trouble_ticket}]</a></td>
			<td style="text-align: center"><img py:attrs="img_statu" py:if="img_statu != None" alt="Status" title="Event status"/></td>
			<td py:attrs="class_td_date" style="padding: 0px;text-align: center"><a class="Edit_EventsLien" href="javascript:vigiboard_edit_eventdialog('${event.idevent}')"><img src="${tg.url('/images/icon_page_edit.png')}" alt="Edit" title="Edit this event"/></a></td>
			<td py:attrs="class_td_date" style="padding:0px;text-align: center"><input type="checkbox" class="Edit_EventsCheckBox" value="${event.idevent}"/></td>

		</tr>
		<py:if test="hist_error == True">
			<tr><td colspan="${10+len(plugin)}">
					${history_table(history[event.idevent],hist_error)}	
			</td></tr>
		</py:if>
		</py:for>
	
	</tbody>

</table>

${tmpl_context.edit_eventdialog()}
${tmpl_context.searchdialog}
${tmpl_context.historydialog}
<py:for each="fct,tpl in plugin_context">
	${fct()}
	<xi:include href="vigiboard_plugin/${tpl}.html" /> 
</py:for>

<script type="text/javascript">
	function vigiboard_historydialog(idd) {
		$.getJSON("${tg.url('/history_dialog')}",{idevent:idd},function(json){
			$('#HistoryDialog_initial_state').html(json.initial_state);
			$('#HistoryDialog_current_state').html(json.current_state);
			$('#HistoryDialog_detailed_event').attr('href' , '${tg.url('/event/')}' + json.idevent);
			$('#HistoryDialog_detailed_host').attr('href', '${tg.url('/host_service/')}' + json.host + "/" + json.service);
			<py:for each="edname, edit in tg.config['vigiboard_links.eventdetails'].iteritems()">
			$('#HistoryDialog_${edname}').attr('href', json.eventdetails['${edname}']);
			</py:for>
			$('#HistoryDialog').dialog('open');
		})
	}
	function vigiboard_edit_eventdialog(idd) {
		$('#edit_event_form_comment').attr('value','');
		$('#edit_event_form_trouble_ticket').attr('value','');
		$('#edit_event_form_tt_create').attr('checked',false);
		$('#edit_event_form_status').find('option:first').attr('selected', 'selected').parent('select');;
		if ( idd == 'all' ) {
			var a = '';
			$('.Edit_EventsCheckBox').each(function() {
				if ( $(this).attr('checked'))
					a += $(this).attr('value') + ',';
			});
			idd = a;
		}
		$('#edit_event_form_id').attr('value',idd);	
		$('#Edit_EventsDialog').dialog('open');
	}
	function vigiboard_searchdialog() {
		$('#search_form_host').attr('value','${search['host']}');
		$('#search_form_service').attr('value','${search['service']}');
		$('#search_form_output').attr('value','${search['output']}');
		$('#search_form_trouble_ticket').attr('value', '${search['tt']}');
		$('#SearchDialog').dialog('open');	
	}
	function vigiboard_checkall() {
		var val = $('#vigiboard_checkall_checkbox').attr('checked');	
		$('input[type=checkbox]').each(function(){$(this).attr('checked',val);});
	}
	$('.HistoryLien').each(function() {
                $(this).click(function(e){
                $('#HistoryDialog').dialog('option','position',[e.clientX+10,e.clientY]);
		})});
	$('.Edit_EventsLien').each(function() {
                $(this).click(function(e){
                $('#Edit_EventsDialog').dialog('option','position',[e.clientX-400-20,e.clientY]);
		})});
	$('#SearchLien').click(function(e){
	        $('#SearchDialog').dialog('option','position','center');
	});
	

</script>

<div style="display:none" id="HistoryDialog">
Initial State: <span id="HistoryDialog_initial_state" /><br />
Current State: <span id="HistoryDialog_current_state" /><br />
<ul>
	<li><a id="HistoryDialog_detailed_event" href="#">Detailed history for this event</a></li>
	<li><a id="HistoryDialog_detailed_host" href="#">Detailed history for this host/service</a></li>
	<li py:for="edname, edit in tg.config['vigiboard_links.eventdetails'].iteritems()">
		<a href="#" id="HistoryDialog_${edname}">${edit[0]}</a>
	</li>
</ul>
</div>

<div  style="display:none" id="Edit_EventsDialog">
	${tmpl_context.edit_event_form()} 
</div>
<div  style="display:none" id="SearchDialog">
	${tmpl_context.search_form()}
</div>

</py:if>

<py:if test="1 >= len(events)">
<table class="vigitable">

        <thead>
                <tr>
                        <td style="width:26px;background-color: rgb(70, 130, 180);">
                                <img src="${tg.url('/images/fleche_up.png')}" alt="Previous" title="Previous page"/>
                        </td>
                        <td colspan="9" style="width:100%;background-color:#4682B4;color:white;text-align:center">Showing rows 0 to 0 of 0<br />
                                Page 0
                        </td>
                        <td style="width:26px">
                                <img src="${tg.url('/images/fleche_down.png')}" alt="Next" title="Next page" />
                        </td>
                </tr>

                <tr style="background-color:#F8F8F8;font-weight: bold">
			        <py:for each="(pname,pstyle) in events[0]">
                        <td py:attrs="pstyle">${HTML(pname)}</td>
                    </py:for>
			            <td style="text-align: center;"><img src="${tg.url('/images/icon_page_edit.png')}" alt="Edit selected" title="Edit all selected events"/></td>
                        <td style="text-align: center;"><input id="vigiboard_checkall_checkbox" type="checkbox" /></td>
                </tr>
        </thead>

        <tbody>
<tr><td colspan="9"><br />No event</td></tr>
</tbody>
</table>
${tmpl_context.searchdialog}
<div  style="display:none" id="SearchDialog">
        ${tmpl_context.search_form()}
</div>
<script type="text/javascript">
function vigiboard_searchdialog() {
                $('#search_form_host').attr('value','');
                $('#search_form_service').attr('value','');
                $('#search_form_output').attr('value','');
                $('#search_form_trouble_ticket').attr('value', '');
                $('#SearchDialog').dialog('open');      
        }
$('#SearchLien').click(function(e){
                $('#SearchDialog').dialog('option','position','center');
        });
</script>

</py:if>

</py:def>

</html>
