<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="vigiboard_event_table.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Vigiboard</title>
  <link rel="stylesheet" type="text/css" href="${tg.url('/css/vigiboard_style.css')}" />
</head>

<body>
	
<table class="table_top">
	<tr>
		<td style="width: 20%;text-align: left;">
			<a py:if="tg.config['vigiboard_links.logo'] != ''" href="${tg.config['vigiboard_links.logo']}"><img alt="logo" src="${tg.url('/images/vigilo.png')}" style="width:58px;"/></a>
			<a py:if="tg.config['vigiboard_links.logo'] == ''" href="${tg.url('/')}"><img alt="logo" src="${tg.url('/images/vigilo.png')}" style="width:58px;"/></a>
			v${tg.config['vigiboard_version']}</td>
		<td style="text-align: center">
			<span py:if="search == 1" style="color:rgb(70, 130, 180)">
				Mode recherche, <a href="${tg.url('/')}" style="color:rgb(70, 130, 180); text-decoration: underline;">cliquer ici</a> pour revenir au mode initial.
			</span>
		</td>
		<td style="width: 20%;text-align: right;"><a href="${tg.url('/')}">Accueil</a>
			<a id="SearchLien" href="javascript:vigiboard_searchdialog()">
				<img src="${tg.url('/images/filter.png')}" />
				</a>
		</td>
	</tr>
</table>	

<py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
<div py:if="flash" py:content="XML(flash)" />
</py:with>
<div class="main_content">
	${event_table(events,page,pages,id_first_row,id_last_row,total_row,event_edit_status_options,history,hist_error)}
</div>

</body>
</html>
