<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="vigiboard_event_table.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Vigiboard</title>
  <link rel="stylesheet" type="text/css" href="${tg.url('/css/vigiboard_style.css')}" />
</head>

<body style="font-size:${tg.session.get('fontsize',tg.config['vigiboard_font.size'])}px">
	
<table class="table_top" summary="Barre Outils">
	<tr>
		<td style="width: 20%;text-align: left;">
			<a py:if="tg.config['vigiboard_links.logo'] != ''" href="${tg.config['vigiboard_links.logo']}"><img alt="logo" title="Logo" src="${tg.url('/images/vigilo.png')}" style="width:58px;"/></a>
			<a py:if="tg.config['vigiboard_links.logo'] == ''" href="${tg.url('/')}"><img alt="logo" title="Logo" src="${tg.url('/images/vigilo.png')}" style="width:58px;"/></a>
			v${tg.config['vigiboard_version']}</td>
		<td style="text-align: center">
			<span py:if="search['host'] != '' or search['service'] != '' or search['output'] != '' or search['tt'] != ''" style="color:rgb(70, 130, 180)">
				Mode recherche, <a href="${tg.url('/')}" style="color:rgb(70, 130, 180); text-decoration: underline;">cliquer ici</a> pour revenir au mode initial.
			</span>
		</td>
		<td style="width: 200px;text-align: right;">
			<select id="refresh_time" class="refresh_select">
				<option value="0">Never</option>
				<option value="30000">30 Secondes</option>
				<option value="60000">1 Minute</option>
				<option value="300000">5 Minutes</option>
				<option value="600000">10 Minutes</option>
			</select>
			<input type="button" id="refresh_button" class="refresh_button" onclick="javascript:change_refresh($('#refresh_time').val())" value="[Start]" />
			</td>
			<td style="width: 100px;text-align: right;">
			<a href="javascript:change_fontsize(5)"><img alt="Default font size" title="Default font size" src="${tg.url('/images/icn_text_sm.png')}" /></a>
			<a href="javascript:change_fontsize(10)"><img alt="Medium font size" title="Medium font size" src="${tg.url('/images/icn_text_md.png')}" /></a>
			<a href="javascript:change_fontsize(25)"><img alt="Large font size" title="Large font size" src="${tg.url('/images/icn_text_lg.png')}" /></a>
		</td>
			<td style="width: 100px;text-align: right;">
			<a href="${tg.url('/')}">
				<img alt="accueil" title="Accueil" src="${tg.url('/images/home.gif')}" />
			</a>
			<a id="SearchLien" href="javascript:vigiboard_searchdialog()">
				<img src="${tg.url('/images/filter.png')}" alt="filtrer" title="Filtrer"/>
			</a>
		</td>
	</tr>
</table>	

<py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
<div py:if="flash" py:content="XML(flash)" />
</py:with>
<div class="main_content">
	${event_table(events,page,pages,id_first_row,id_last_row,total_row,event_edit_status_options,history,hist_error,search)}
</div>
<script type="text/javascript">
	$("#flash").show("slow",function(){
		setTimeout('$("#flash").hide("slow")',5000);
			});
	function change_fontsize(size) {
		document.body.style.fontSize = size + "px";
		$.getJSON("${tg.url('/set_fontsize')}",{'fontsize':size},function(json){
			if ( json.ret == 'fail' )
				alert("Can't save preferences");
		})
	}		
	var refresh_timeout;
	function change_refresh_rate (timeout) {
		if ( timeout != 0 ) {
			if ( refresh_timeout ) {
				clearTimeout(refresh_timeout);
				refresh_timeout = null;
				$('#refresh_time').removeAttr('disabled');
				$('#refresh_button').attr('value','[Start]');
			} else {
				refresh_timeout = setTimeout('window.location.reload(true)',timeout);
				$('#refresh_time').attr("disabled", "disabled");
				$('#refresh_button').attr('value','[Stop]');
			}
		}
	}
	function change_refresh(timeout) {
		$.getJSON("${tg.url('/set_refresh')}",{'refresh':timeout},function(json){});
		change_refresh_rate(timeout);
	}
	<py:if test="tg.session.get('refresh','0') != '0'">
	change_refresh_rate(${tg.session.get('refresh',0)});
	</py:if>
</script>
</body>
</html>
