<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<py:def function="history_table(history,error)">

<p py:if="(not history or len(history) == 0) and error == True">
There is no history.
</p>

<py:if test="history and len(history) > 0">
<table style="width: 100%;margin-bottom: 30px;">
	<thead>
		<tr style="background-color:#F8F8F8;font-weight:bold">
			<td>Time</td>
			<td>User</td>
			<td>Type</td>
			<td>Value</td>
			<td>Text</td>
		</tr>
	</thead>
	<tbody>
		<py:for each="(time,user,type,value,text,class_tr,class_value) in history">
		<tr py:attrs="class_tr">
			<td>${time}</td>
			<td>${user}</td>
			<td>${type}</td>
			<td py:attrs="class_value">${value}</td>
			<td>${text}</td>
		</tr>
		</py:for>
	</tbody>
</table>
</py:if>

</py:def>

</html>
