/bin
/build
/data/sessions
/develop-eggs
/dist
/.installed.cfg
/log/auth.log
/log/root.log
/log/sql.log
/log/vigiboard.log
/parts
/PasteDeploy-*.egg
/Paste-*.egg
/PasteScript-*.egg
/vigiboard.egg-info
/devdata.db
