recursive-include vigiboard/i18n *
recursive-include vigiboard/public *
include deployment/settings.ini
include deployment/vigiboard.wsgi
include deployment/vigiboard.conf
include buildenv/Makefile.common
include buildenv/buildout.*.cfg
