recursive-include vigiboard/i18n *
recursive-include vigiboard/public *
include deployment/settings.ini
include deployment/vigiboard.wsgi
include deployment/vigiboard.conf
recursive-include buildenv Makefile.common buildout.*.cfg
