include buildout.cfg
include Makefile
include COPYING.txt

graft doc
graft pkg
recursive-include vigiboard/i18n *.pot *.po

graft deployment
graft ez_setup
graft vigiboard/public
include *.ini
include jsl.cfg
include babeljs.py
