tr.odd {
	background-color: #F8F8F8;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	padding: 5px;
	empty-cells: show;
}

tr.even {
	background-color: #F0F0F0;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	padding: 5px;
	empty-cells: show;
}

td.Minor {
	background-color: #FFFF00;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	padding: 4px;
	empty-cells: show;
}

td.Major {
	background-color: #FF8700;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	padding: 4px;
	empty-cells: show;
}

td.Critical {
	background-color: #FF0000;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	padding: 4px;
	empty-cells: show;
}

td.Cleared {
	background-color: #73DE78;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	padding: 4px;
	empty-cells: show;
}

td.MinorAck {
	background-color: #FCFCA2;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	padding: 4px;
	empty-cells: show;
}

td.MajorAck {
	background-color: #FCCA90;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	padding: 4px;
	empty-cells: show;
}

td.CriticalAck {
	background-color: #FC9090;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	padding: 4px;
	empty-cells: show;
}

td.ClearedAck {
	background-color: #A9EBAC;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	padding: 4px;
	empty-cells: show;
}

a {
	text-decoration: none;
	color: black;
}

img { 
	border: none;
}


