<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<py:def function="event_table(events,page,pages,id_first_row,id_last_row,total_row,edit_event_status_options)">

<div style="text-align: right">
	<a id="SearchLien" href="javascript:dashboard_searchdialog()">
	<img src="${tg.url('/images_vigilo/filter.png')}" />
	</a>
</div>

<table style="width: 100%">

	<thead>

		<tr>

			<td>
				<a py:if="page > pages[0]" href="${tg.url('/dashboard/%d' % (page-1))}"><img src="${tg.url('/images_vigilo/fleche_up.png')}" alt="" /></a>
				<img py:if="page == pages[0]" src="${tg.url('/images_vigilo/fleche_up.png')}" alt="" />
			</td>

			<td colspan="8" style="background-color:#4682B4;color:white;text-align:center">Showing rows ${id_first_row} to ${id_last_row} of ${total_row}<br />
				Pages <py:for each="p in pages">
				<a py:if="p != page" href="${tg.url('/dashboard/%d' % p)}" py:content="p" />
				<span py:if="p == page" py:replace="p" />
				</py:for>
			</td>

			<td>
				<a py:if="pages[-1] > page" href="${tg.url('/dashboard/%d' % (page+1))}"><img src="${tg.url('/images_vigilo/fleche_down.png')}" alt="" /></a>
				<img py:if="page == pages[-1]" src="${tg.url('/images_vigilo/fleche_down.png')}" alt="" />
			</td>
		
		</tr>

		<tr style="background-color:#F8F8F8">
			<td>&nbsp;</td>
			<td>Date<br />[Duration]</td>
			<td>#</td>
			<td>Host</td>
			<td>Service Type<br />Service Name</td>
			<td>Output</td>
			<td>[T T]</td>
			<td>&nbsp;</td>
			<td><a class="Edit_EventsLien" href="javascript:dashboard_edit_eventdialog('all')"><img src="${tg.url('/images_vigilo/icon_page_edit.png')}" /></a></td>
			<td><input id="dashboard_checkall_checkbox" type="checkbox" onclick="javascript:dashboard_checkall()" /></td>
		</tr>
	
	</thead>
	
	<tbody>
	
		<py:for each="(event,class_tr,class_td_severity,class_td_date,img_fleche,img_statu) in events">
		<tr py:attrs="class_tr">
			<td py:attrs="class_td_severity"><a href="javascript:dashboard_historydialog('${event.idevent}')" class="HistoryLien"><img py:attrs="img_fleche" style="width:20px"/></a></td>
			<td py:attrs="class_td_date">${event.GetDate('timestamp_active')}<br />[${event.GetSinceDate('timestamp_active')}]</td>
			<td py:attrs="class_td_date">${event.occurence}</td>
			<td>${event.hostname}</td>
			<td>${event.servicename}</td>
			<td>${event.output}</td>
			<td>${event.trouble_ticket}</td>
			<td><img py:attrs="img_statu" py:if="img_statu != None" /></td>
			<td py:attrs="class_td_date"><a class="Edit_EventsLien" href="javascript:dashboard_edit_eventdialog('${event.idevent}')"><img src="${tg.url('/images_vigilo/icon_page_edit.png')}" /></a></td>
			<td py:attrs="class_td_date"><input type="checkbox" class="Edit_EventsCheckBox" value="${event.idevent}"/></td>

		</tr>
		</py:for>
	
	</tbody>

</table>

${tmpl_context.historydialog()}
${tmpl_context.edit_eventdialog()}
${tmpl_context.searchdialog()}

<script type="text/javascript">
	function dashboard_historydialog(idd) {
		$.getJSON("${tg.url('/dashboard_HistoryDialog')}",{id:idd},function(json){
			$('#HistoryDialog_initial_state').html(json.initial_state);
			$('#HistoryDialog_current_state').html(json.current_state);
			$('#HistoryDialog_detailed_event').attr('href' , '${tg.url('/dashboard_event/')}' + json.idevent);
			$('#HistoryDialog_detailed_host').attr('href', '${tg.url('/dashboard_host_service/')}' + json.host + "/" + json.service);
			$('#HistoryDialog_nagios').attr('href', json.nagios_link);
			$('#HistoryDialog_metrology').attr('href', json.metrology_link);
			$('#HistoryDialog_security').attr('href', json.security_link);
			$('#HistoryDialog_servicetype').attr('href', json.servicetype_link);
			$('#HistoryDialog').dialog('open');
		})
	}
	function dashboard_edit_eventdialog(idd) {
		$('#edit_event_form_comment').attr('value','');
		$('#edit_event_form_tt').attr('value','');
		$('#edit_event_form_tt_create').attr('checked',false);
		$('#edit_event_form_status').find('option:first').attr('selected', 'selected').parent('select');;
		if ( idd == 'all' ) {
			var a = '';
			$('.Edit_EventsCheckBox').each(function() {
				if ( $(this).attr('checked'))
					a += $(this).attr('value') + ',';
			});
			idd = a;
		}
		$('#edit_event_form_id').attr('value',idd);	
		$('#Edit_EventsDialog').dialog('open');
	}
	function dashboard_searchdialog() {
		$('#search_form_host').attr('value','');
		$('#search_form_service').attr('value','');
		$('#search_form_output').attr('value','');
		$('#search_form_trouble_ticket').attr('value', '');
		$('#SearchDialog').dialog('open');	
	}
	function dashboard_checkall() {
		var val = $('#dashboard_checkall_checkbox').attr('checked');	
		$('input[type=checkbox]').each(function(){$(this).attr('checked',val);});
	}
	$('.HistoryLien').each(function() {
                $(this).click(function(e){
                $('#HistoryDialog').dialog('option','position',[e.clientX+10,e.clientY]);
		})});
	$('.Edit_EventsLien').each(function() {
                $(this).click(function(e){
                $('#Edit_EventsDialog').dialog('option','position',[e.clientX-400-20,e.clientY]);
		})});
	$('#SearchLien').click(function(e){
	        $('#SearchDialog').dialog('option','position','center');
	});
	

</script>

<div id="HistoryDialog">
Initial State: <span id="HistoryDialog_initial_state" /><br />
Current State: <span id="HistoryDialog_current_state" /><br />
<ul>
	<li><a id="HistoryDialog_detailed_event" href="" >Detailed history for this event</a></li>
	<li><a id="HistoryDialog_detailed_host" href="" >Detailed history for this host/service</a></li>
	<li><a id="HistoryDialog_nagios" href="" >Nagios host details</a></li>
	<li><a id="HistoryDialog_metrology" href="" >Metrology details</a></li>
	<li><a id="HistoryDialog_security" href="" >Security details</a></li>
	<li><a id="HistoryDialog_servicetype" href="" >Service Type</a></li>
</ul>
</div>

<div id="Edit_EventsDialog">
	${tmpl_context.edit_event_form()} <!--child_args=dict(status=dict(options=edit_event_status_options)))}-->
</div>
<div id="SearchDialog">
	${tmpl_context.search_form()}
</div>

</py:def>

</html>
